<!DOCTYPE html>
<html>
<head>
  <title>Matrix Calculator</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <!-- Link the custom stylesheet -->
  <%= stylesheet_link_tag 'matrix_calculator' %>
</head>
<body class="body-class">
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
